<ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot="start" color="dark">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center">Order-status</ion-title>
  </ion-toolbar>
  </ion-header>
  

<ion-content>
  <ion-row>
      <div class="top">
          <p>Your Order Status</p>
      </div>
  </ion-row>

  <ion-list class="status-block">
      <ion-item *ngFor="let order of orderStatus">
          <ion-row>
              <ion-col col-1>
                  <ion-icon class="checked" name="checkmark-circle"></ion-icon>
              </ion-col>
              <ion-col col-11>
                  <p class="time">
                      <ion-icon name="time"></ion-icon> &nbsp; Order-time 
                  </p>
                  <p>Order-title </p>
              </ion-col>
          </ion-row>
      </ion-item>
  </ion-list>
  <p class="thanx">
      <ion-icon name="thumbs-up"></ion-icon>
      Thanks for shopping with us...
  </p>
</ion-content>