<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="dark">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center;">Restaurant</ion-title>
  </ion-toolbar>
 </ion-header>


<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <!-- first row -->
      <ion-slides >
        <ion-slide >
          <div class="overlay">
            <img src="assets/img/event1.jpg" class="slider-img">
          </div>
        </ion-slide>
      </ion-slides>
      <div class="card-title">Chicken Snacks</div>
    </ion-row>
             <!-- Second row -->
      <ion-row>
      <ion-slides >
        <ion-slide >
          <div class="overlay">
            <img src="assets/img/a.jpeg" class="slider-img">
          </div>
        </ion-slide>
      </ion-slides>
      <div class="card-title">Mendu Vada</div>
    </ion-row>
    <!-- Second row -->
    <ion-row>
      <ion-slides >
        <ion-slide >
          <div class="overlay">
            <img src="assets/img/2.jpeg" class="slider-img">
          </div>
        </ion-slide>
      </ion-slides>
      <div class="card-title">Fries</div>
    </ion-row>
    <!-- Second row -->
    <ion-row>
      <ion-slides >
        <ion-slide >
          <div class="overlay">
            <img src="assets/img/3.jpeg" class="slider-img">
          </div>
        </ion-slide>
      </ion-slides>
      <div class="card-title">Burger </div>
    </ion-row>
    <!-- Second row -->
    <ion-row>
      <ion-slides >
        <ion-slide >
          <div class="overlay">
            <img src="assets/img/b.jpg" class="slider-img">
          </div>
        </ion-slide>
      </ion-slides>
      <div class="card-title">Pavbhaji</div>
    </ion-row>

      
    <ion-row>
      <ion-slides >
        <ion-slide >
          <div class="overlay">
            <img src="assets/img/5.jpeg" class="slider-img">
          </div>
        </ion-slide>
      </ion-slides>
      <div class="card-title">Veg </div>
    </ion-row>
  </ion-grid>
  <ion-button color="primary" expand="block" (click)="loginPage()">Login</ion-button>
</ion-content>